<% @user.password = @user.password_confirmation = @user.current_password = nil %>
<%= title t("users.edit.page_title"), :h1 %>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend><%= t("users.edit.basic_legend") %></legend>

    <%= hidden_field_tag "attribute", "basic", :id => nil %>

    <div class="form_row"><%= f.label :login %>
      &nbsp;<%= @user.login %>
    </div>

    <div class="form_row"><%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form_row"><%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form_row"><%= f.label :identity_url %>
      <%= f.text_field :identity_url %>
    </div>

    <div class="form_row">
      <%= submit_tag t("users.edit.update_button"), :class => "submit" %>
    </div>

  </fieldset>
<% end %>

<% form_for @user do |f| %>
  <fieldset>
    <legend><%= t("users.edit.change_password_legend") %></legend>

    <%= hidden_field_tag "attribute", "password", :id => nil %>

    <div class="form_row"><%= f.label :current_password %>
      <%= f.password_field :current_password %>
    </div>

    <div class="form_row"><%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form_row"><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="form_row">
      <%= submit_tag t("users.edit.update_button"), :class => "submit" %>
    </div>
</fieldset>
<% end %>
