<% @user.password = @user.password_confirmation = nil %>
<%= title t("users.new.page_title"), :h2 %>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend><%= t("users.new.signup_legend") %></legend>
		<ol>
			<li>
				<%= f.label :login %>
				<%= f.text_field :login %>
			</li>
			<li>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</li>
			<li>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</li>
			<li>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend><%= t("users.new.openid_legend") %></legend>
		<ol>
			<li>
				<%= f.label :identity_url %>
				<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag t("users.new.signup_button") %>
	</div>
<% end %>
