<% if @users_count > 0 %>
  <%= t("admin.users.index.found") + " " + @users_count.to_s %>
  <%= t("activerecord.models.user", :count => @users_count) %>
  <br />
  <br />
  <% if @users_count > 10 %>
  <%= remote_per_page_select %>&nbsp;&nbsp;
  <% end %>
  <% if @search.page_count > 1 %>
  <span class="pages">
    <%= remote_page_links %>
  </span>
  <br />
  <br />
  <% end %>
  <table class="grid">
  <tr>
    <th><%= remote_order_by_link :login, :text => User.human_attribute_name('login') %></th>
    <th><%= remote_order_by_link :name, :text => User.human_attribute_name('name') %></th>
    <th><%= remote_order_by_link :email, :text => User.human_attribute_name('email') %></th>
    <th><%= remote_order_by_link :identity_url, :text => User.human_attribute_name('identity_url') %></th>
    <th><%= User.human_attribute_name('state') %></th>
    <th><%= t("admin.users.index.actions_header") %></th>
  </tr>
  <% @users.each do |user| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h user.login %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.identity_url %></td>
    <td><%=h user.state %></td>
    <td><%= link_to t("admin.users.index.action_edit"), edit_admin_user_path(user) %></td>
  </tr>
  <% end %>
  </table>
  <br />
  <br />
  <% if @users_count > 10 %>
  <%= remote_per_page_select %>&nbsp;&nbsp;
  <span class="pages">
    <%= remote_page_links %>
  </span>
  <% end %>
<% else %>
  No record found
<% end %>
