<% content_for :head do %>
<style type="text/css">
div.pages {
  font-weight: bold;
}

a.page, span.page {
  padding: 4px 6px;
}

a.page {
  margin: 0 3px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #0063dc;
}

a.page:hover {
  border: 1px solid #003366;
  background-color: #0063dc;
  color: #fff;
}

span.disabled_page {
  color: #b1aab1;
}

span.current_page {
  color: #ff0084;
}
</style>
<% end %>
<h1><%= @page_title %></h1>
<fieldset>
  <legend>Search users</legend>
  <% form_for @search, :url=>admin_users_path do |f| -%>
    <% f.fields_for @search.conditions do |users| %>
      <div class="form_row"><label for="any">Match:</label>
      <%= users.select :any, [ ["All", false], ["Any", true] ] %> of the following conditions
      </div>
      <div class="form_row"><label for="login">Login contains:</label>
      <%= users.text_field :login_contains %>
      </div>
      <div class="form_row"><label for="name">Name contains:</label>
      <%= users.text_field :name_contains %>
      </div>
      <div class="form_row"><label for="email">Email ends with:</label>
      <%= users.text_field :email_ends_with %>
      </div>
    <% end %>
    <div class="form_row">
      <%= submit_tag "Search", :class=>"submit" %>
    </div>
  <% end %>
</fieldset>
<span style="float: right"><%= button_to "Create new users", new_admin_user_url,:method => :get %></span>
<div id="users">
  <%= render :partial => "users" %>
</div>
